@model Mengassini.MVC.Models.ProductView
@{
    ViewBag.Title = "Product Page";
}

<h1>Vista para insertar</h1>

@using (Html.BeginForm("Insert", "Product", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(p => p.Nombre)
    <label>Precio: </label> @Html.TextBoxFor(p => p.Precio)
    <input type="submit" class="btn btn-success" value="Guardar" />
}