@model Mengassini.MVC.Models.RegionView
@{
    ViewBag.Title = "Region Page";
}

<h1>Vista para insertar</h1>

@using (Html.BeginForm("InsertUpdate","Region",FormMethod.Post))
{
    <label>Description: </label> @Html.TextBoxFor(r => r.Description)
    <input type="submit" class="btn btn-success" value="Guardar" />
}